*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.formInformation{
    width: 500px;
    border: 2px solid;
    margin: 20px auto;
}

.formTable{
    width: 80%;
    height: 500px;
    border: 2px solid;
    margin: 35px auto;
}